* {
    margin: 0;
    padding: 0;
}
.header{
    margin: auto;
    margin-bottom: 20px;
}
.row {
    display: flex;
    justify-content: center;

}
.box{
    height: 100px;
    width: 100px;
}
h1 {
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}