<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/my_style.css')}}"
    />
    <title>Checkerboard</title>
    <style>
        .color1{
            background-color: {{color1}};
        }
        .color2{
            background-color: {{color2}};
        }
        h1 {
            background-color: {{color2}};
            color: {{color1}};
        }
    </style>
</head>
<body>
    <h1>Checkerboard</h1>
    <div class="header">
    {% for i in range(y): %}
        <div class="row">
            {% for j in range(x): %}
            <div class="box color{{(i+j)%2+1}}"></div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</body>
</html>